<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Impede o acesso a arquivos de ambiente (.env) pelo navegador
<FilesMatch "^\.env">
  Order allow,deny
  Deny from all
</FilesMatch>
